body{
  background-color: bisque;
}

.container{
  display: flex;
  justify-content: center;
}
.navigation{
  align-self: center;
  width: 10vw;  
  padding:20px;
}

.thumbnails{
  background-color: darkolivegreen;
  height: 15vh;
  display: flex;
  justify-content: center;  
}

.thumbnail{
  width: 100px;
  height: 100px;
  background-color: darkslateblue;
  margin: 20px;
  display: flex;
  justify-content: center;  
}

.thumbnails *{
  background-size: cover;
}

.one{
  background-image: url(1.jpeg);  
}
.two{
  background-image: url(2.jpeg);
}
.three{
  background-image: url(3.jpeg);
}
.four{
  background-image: url(4.jpeg);
}

/* Slider */

.slider {
  /* background-image: url(1.jpeg);  */
  background-color: brown;
  height: 350px;
  width: 80vw;  
  background-size: cover;
  display: flex;
  justify-content: center;
}

.slider > div {
  min-height: 100px;
  min-width: 100px; 
  transition: transform 300ms ease-in-out ; 
}

.move-left-1{
  transform:  translate(-100px, 0px) 
}
.move-left-2{
  transform:  translate(-101px, 0px) 
}
.move-left-3{
  transform:  translate(-100px, 0px) 
}

.pic1{
  background-color: gray;
}
.pic2{
  background-color: red;
}
.pic3{
  background-color: blue;
}
.pic4{
  background-color: green;
}