body{
  padding: 50px;
}

.box{
  display: inline-block;
  background-color: rgb(177, 177, 236);    
  width: 200px;
  height: 200px; 
  transition: transform 300ms ease-in-out ;
  pointer-events: none;   
}
.trigger{
  border-style: solid;
  border-color: black;
  border-width: 5px;
  width: 200px;
  height: 200px;  
  
}

.trigger:hover .box{  
  transform:  translate(222px, 222px) 
              rotate(20deg);
}